<!doctype html>
<html ng-app="iomTraining">

<head>
  <meta charset="utf-8" />
  <title>Acoustic Level</title>
  <script src="lib/angular.min.js"></script>
  <link rel="stylesheet" href="lib/bootstrap.min.css">
  <link rel="stylesheet" href="lib/rzslider.css"/>
  <script src="lib/ui-bootstrap-tpls.js"></script>
  <script src="lib/rzslider.js"></script>
  <script src="lib/BufferLoad.js"></script>
  <script src="lib/angular-dark-sky.min.js"></script>

  <script src="lib/utils.js"></script>
  <script src="lib/NoSleep.min.js"></script>
  <script src="app.js"></script>
  <script src="lib/weatherController.js"></script>
  <script src="iomController.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/weather-icons.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/weather-icons-wind.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Cousine:700' rel='stylesheet' type='text/css'>
</head>

<body id="body" ng-controller="weatherController">
  <div class="page" ng-controller="iomController">

    <div class = "buttons">
      <input type="button" ng-class="{bgredstyle: wakeLockEnabled}" ng-click='wake()' value="WakeLock" />
      <input type="button" ng-click='' value="Weather" />
      <input type="button" ng-click='' value="Distance" />
      <input type="button" ng-click='' value="Stats" />
      <input type="button" ng-click='' value="Export" />
      <input type="button" ng-class="{redstyle: showSettings}" ng-click='showSettings = !showSettings' value="Settings" />
    </div>
    <div class="settingsBox" ng-show="showSettings">
      <h2 class='titles'>Legs</h2>
      <rzslider
      data-rz-slider-model="legSlider.value"
      data-rz-slider-options="legSlider.options"
      ></rzslider>

      <h2 class='titles'>Start procedure</h2>
      <rzslider
      data-rz-slider-model="startSlider.value"
      data-rz-slider-options="startSlider.options"
      ></rzslider>
    </div>

    <br>


    <svg id="raceDisplay" class="raceDisplay"  >
      <line x1="25%" y1="5%" x2="25%" y2="95%" style="stroke:black;" />
      <circle ng-show="upLeg&&started" cx="25%" cy="{{(1-currentDuration/(maxDuration*1.2))*200}}px"  r="6px" fill="red" />
      <rect ng-repeat="a in upDurations" x="{{25-3*(1+$index)}}%" y="{{(1-a/(maxDuration*1.2))*200-10}}px" rx="10" ry="10" width="{{6*(1+$index)}}%" height="20px" />
      <circle ng-repeat="a in upStore" cx="25%" cy="{{(1-a/(maxDuration*1.2))*200}}px"  r="6px" style="opacity:{{$index/nbUpStore}}" />


      <line x1="75%" y1="5%" x2="75%" y2="95%" style="stroke:black;" />
      <circle ng-show="!upLeg&&started" cx="75%" cy="{{(currentDuration/(maxDuration*1.2))*200}}px"  r="6px" fill="red" />
      <rect ng-repeat="a in downDurations" x="{{75-3*(1+$index)}}%" y="{{(a/(maxDuration*1.2))*200-10}}px" rx="10" ry="10"  width="{{6*(1+$index)}}%" height="20px" />
      <circle ng-repeat="a in downStore" cx="75%" cy="{{(a/(maxDuration*1.2))*200}}px"  r="6px" style="opacity:{{$index/nbDownStore}}" />
    </svg>
    <div class="infoDisplay">



      <button class="wi wi-wind towards-0-deg" ng-click="startFunc()" ng-class="{redstyle: started&&tack==0}"> </button>
  <div ng-show="started">
      <br>  <br>
      <div class="legDisplay">
  {{legNumber}}
  </div>
  <br>
        <i class="wi wi-wind towards-315-deg" ng-class="{redstyle: started&&tack==2}"></i>
        <i class="wi wi-wind towards-45-deg" ng-class="{redstyle: started&&tack==1}"></i>
        <br>
        <i class="wi wi-wind towards-180-deg" ng-class="{redstyle: started&&tack==3}"></i>
        <br><br>
  </div>




    </div>
  </div>


</body>
</html>
