<!doctype html>
<html ng-app="iomTraining">

<head>
  <meta charset="utf-8" />
  <link rel="icon"
  type="image/png"
  href="images/boatOrigami.png">
  <title>RC</title>
  <script src="lib/angular.min.js"></script>
  <link rel="stylesheet" href="lib/bootstrap.min.css">
  <link rel="stylesheet" href="lib/rzslider.css"/>
  <script src="lib/ui-bootstrap-tpls.js"></script>
  <script src="lib/rzslider.js"></script>
  <script src="lib/BufferLoad.js"></script>
  <script src="lib/angular-dark-sky.min.js"></script>

  <script src="lib/utils.js"></script>
  <script src="lib/NoSleep.min.js"></script>
  <script src="lib/starRating.js"></script>
  <script src="appTracker.js"></script>
  <script src="ptController.js"></script>

  <link rel="stylesheet" type="text/css" href="css/weather-icons.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/weather-icons-wind.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Cousine:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="lib/starRating.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>

<body id="body">
  <div class="page" ng-controller="ptController">
    <button ng-click='changeSection(-1)' class="btn btn-default   btn-lg">
       <span class="glyphicon glyphicon-triangle-left"></span>
    </button>
      <span ng-repeat='section in sections track by $index' class='sectionText' ng-show="$index>currentSection-2&&$index<currentSection+2" ng-class="{boldstyle: currentSection == $index}"> {{section.name}} </span>
    <button ng-click='changeSection(1)' class="btn btn-default   btn-lg">
       <span class="glyphicon glyphicon-triangle-right"></span>
    </button>
    <span class='editRight'>
    <button ng-click='editMode=!editMode' class="btn btn-default   btn-lg">  <span  class="glyphicon glyphicon-edit"></span>
          </button>
    </span>

<div>
    <form ng-show="editMode"  ng-submit="addSection($event)">
      <input type="text" class='sectionText' ng-model="newSection" placeholder="add section" />
      <button type="submit" class="plusButton glyphicon glyphicon-plus"></button>
    </form>
    
    <button ng-show="editMode" type="submit" ng-click=removeSection() class="editRight plusButton glyphicon glyphicon-remove"></button>
  </div>
    <span   ng-show="editMode&&currentSection" ng-click="moveSectionUp()" class="glyphicon glyphicon-chevron-left"></span>

    <span  ng-show="editMode&&currentSection<sections.length-1" ng-click="moveSectionDown()" class="glyphicon glyphicon-chevron-right"></span>

    <form ng-show="editMode"  ng-submit="addItem($event)">
      <input class='sectionText' type="text" ng-model="newItem" placeholder="add item" />
      <button type="submit" class="plusButton glyphicon glyphicon-plus"></button>
    </form>
       <ul  ng-model="sections">
       <li class='itemText' ng-repeat="item in sections[currentSection].items track by $index">
    <span class='boldstyle' >  {{item.mean}} </span>  {{item.name}}
    <div class=rzsliderDiv>
   <rzslider
  data-rz-slider-model="item.value"
  data-rz-slider-options="legSlider.options"
  ></rzslider></div>
         <div >

         <span  ng-show="editMode&&!$last" ng-click="moveItemDown($index)" class="glyphicon glyphicon-chevron-down"></span>
         <span  ng-show="editMode&&!$first" ng-click="moveItemUp($index)" class="glyphicon glyphicon-chevron-up"></span>
          <div  ng-show="editMode" ng-click="removeItem($index)" class="glyphicon glyphicon-remove editRight"></div>
       </div>

        </li>
     </ul>
     <pre>section={{section}}</pre>
</div>
</body>
</html>
